
@{
    string displayName = User.Identity?.Name ?? "Anonymous";
    //var claim = (ClaimsIdentity)User.Identity;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AvansGreen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AvansGreen.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid nav-elements-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Avans green</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @{ if (User.Identity.IsAuthenticated) {
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                                    Packets
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Packet" asp-action="PacketOverview">All packets</a>
                                        </li>
                                    @{
                                    if (User.FindFirst("UserType")?.Value is "Student" or "Admin")
                                    {
                                                <li>
                                                    <a a class="dropdown-item" asp-area="" asp-controller="Packet" asp-action="Reservations">My reservations</a>
                                                </li>
                                    }
                                    if (User.FindFirst("UserType")?.Value is "CanteenEmployee" or "Admin")
                                    {
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Packet" asp-action="MyPackets">My packets</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Packet" asp-action="AddPacket">Add new packet</a>
                                                </li>
                                    }
                                    }
                                </ul>
                            </li>
                        } else {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Packet" asp-action="PacketOverview">Packet overview</a>
                            </li>
                        }
                        } 
                        
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated) {
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                                    @(displayName)
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a></li>
                                </ul>
                            </li>
                        } else {                            
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 p-2">
            @RenderBody()
        </main>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top nav-elements-container">
        <div class="cold-md-4 d-flex align-items-center">
            <span>&copy; 2022 - AvansGreen - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#">Contact</a></li>
        </ul>
  </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
