:root {
    --primary-color: #007521;
    --primary-color-dark: #003A0F;
    --primary-color-light: #E8FAEF;
    --secondary-color-light: #F0FAFA;
    --secondary-color: #AEE8E8;
    --background-color-light: #F5F5F5;
    --white: #ffffff;
    --black: #333;
    --bg-color-analog: #ECFAF9;
    --bg-color-complementary: #FFF5F5;
    /*    --bg-color-complementary: #FFFCFB;*/
    --bg-color-tertiary: #FFF9FB;
}

html {
  font-size: 11px;
}

@media (min-width: 400px) {
    .carousel .card {
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 13px;
    }
    .navbar {
        font-size: 14px;
    }

    .page-card {
        max-width: 70vw;
    }

    .nav-elements-container {
        max-width: 70vw;
    }

    .carousel .card {
        max-width: 33%;
    }

    .carousel .card img {
        height: 8em;
    }
}

@media (min-width: 992px) {
    main {
        max-width: 70vw;
    }
    .page-card {
        max-width: 50vw;
    }
    
}
    
    
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--bg-color-analog);
}

footer {
    margin: auto auto 0 auto;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
    background-color: var(--bg-color-analog);
    background-color: white;
}

.login-form {
    left: 50%;
    margin: auto;
    max-width:400px;
    border-radius: 5px;
}

#register-p {
    margin: 0;
}


.container-p {
    display: flex;
    align-items: center;
}

.intro-text {
    margin: 0px auto 30px auto;
    max-width: 500px;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-primary:hover {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

.btn.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-outline-primary:hover {
    color:white;
    border-color: var(--primary-color-dark);
    background-color: var(--primary-color);
}

 a,  .nav-link {
    color:var(--primary-color);
}

 a:hover,  .nav-link:hover {
    color: var(--primary-color-dark);
}

.nav-tabs .nav-link .active {
    color:var(--primary-color-dark);
}

.nav-elements-container {

    margin: 0px auto;
}

main {
    margin: auto;
}

.card {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.navbar.navbar-dark, .dropdown-menu {
    background-color: var(--primary-color-dark);
    color: white;
}

.navbar.navbar-dark .nav-link, .navbar a, .navbar.navbar-nav {
    color: var(--bg-color-complementary);
}

.page-card {
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

/* Selecting products in packet form */
.multiselect {
    width: 100%;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mySelectOptions {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;
}

#mySelectOptions label {
    display: block;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0 2.25rem 0 .75rem;
}

#mySelectOptions label:hover {
    background-color: #1e90ff;
}

input[type=time] {
    min-width:75px;
}

.crop-product{
    width: 100px;
    height: 100px;
}

.crop-product img {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
}

.carousel .cards-wrapper {
    display: flex;
    justify-content: center;
}

.carousel .card img {
    object-fit: cover;
    border-radius: 15px;
    max-height: 11em;
}

.carousel .card {
    margin: 0 0.5em;
    border-color: lightgrey;
    border-radius: 15px;
    
}

.carousel .carousel-inner {
    padding: 1em;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    background-color: #e1e1e1;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

