@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>To be detailed in the future. For now, refer to <a class="text-muted" href="https://www.avans.nl/" target="_blank" rel="noopener noreferrer">Avans</a>.</p>
