@model NewPacketViewModel
@{
    
}
<div class="border justify-content-center mt-3 p-5 register-form" border-radius:5px;">
    @*<a asp-action="Index" asp-controller="Account">Return</a>*@
    <div class="text-danger" asp-validation-summary="All"></div>

    <form class="g-3" asp-action="AddPacket" asp-controller="Packet" method="post">
        <partial name="_PacketForm" model="Model" />
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModel">
            Create packet
        </button>
        <div class="modal fade" id="createModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm create</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to add this packet?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create packet</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/packetFormValidation.js" asp-append-version="true"></script>
}

