:root {
    --primary-color: #007521;
    --primary-color-dark: #003A0F;
    --primary-color-light: #E8FAEF; /*DFFAEF,  ADE7BC*/
    --secondary-color-light: #F0FAFA;
    --secondary-color: #AEE8E8;
    --background-color-light: #F5F5F5;
    --white: #ffffff;
    --black: #333;
    --bg-color-analog: #ECFAF9;
    --bg-color-complementary: #FFF5F5;
    /*    --bg-color-complementary: #FFFCFB;*/
    --bg-color-tertiary: #FFF9FB;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
/*    width:100%;*/
    background-color: var(--bg-color-analog);
/*    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
/*    background-color: white;*/
}

footer {
    margin: auto auto 0 auto;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
    background-color: var(--bg-color-analog);
    background-color: white;
}

.login-form {
/*    position:;*/
/*    top: 50%;*/
    left: 50%;
/*    transform: translate(0%, -50%);*/
    margin: auto;
    max-width:400px;
    border-radius: 5px;
}

#register-p {
    margin: 0;
}


.container-p {
    display: flex;
    align-items: center;
}

.intro-text {
    margin: 0px auto 30px auto;
    max-width: 500px;
}

.btn.btn-primary {
        background-color: var(--primary-color);
    border-color: var(--primary-color);
/*    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);*/
}

.btn.btn-primary:hover {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

 a,  .nav-link {
    color:var(--primary-color);
}

 a:hover,  .nav-link:hover {
    color: var(--primary-color-dark);
}

/*.nav-tabs .nav-link {
    background-color: var(--background-color-light);
}*/

.nav-tabs .nav-link .active {
    color:var(--primary-color-dark);
/*    background-color: transparent;*/
}

.nav-elements-container {
    max-width: 70vw;
    margin: 0px auto;
}

main {
    max-width: 70vw;
    margin: auto;
}

.card {
    display: inline-block;
}

.navbar, .dropdown-menu {
    background-color: var(--primary-color-dark);
    color: white;
}

.navbar .nav-link, .navbar a, .navbar.navbar-nav {
    color: var(--bg-color-complementary);
}
/*
.card {
    background-color: var(--bg-color-complementary);
}*/

.register-form {
    max-width: 50vw;
    margin: auto;
    background-color: white;
    border-radius:10px;
}

.multiselect {
    width: 100%;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mySelectOptions {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;
}

#mySelectOptions label {
    display: block;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0 2.25rem 0 .75rem;
    /* padding: .375rem 2.25rem .375rem .75rem; */
}

#mySelectOptions label:hover {
    background-color: #1e90ff;
}

input[type=time] {
    min-width:75px;
}

.crop-product{
    width: 100px;
    height: 100px;
}

.crop-product img {
    max-width: 100px;
    max-height: 100px;
/*    padding: auto;*/
    overflow: hidden;
}