@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AvansGreen</title>
    <link rel="icon" href="~/agicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AvansGreen.styles.css" asp-append-version="true" />
</head>
<body style="margin-bottom:0px">
        <main role="main" class="p-5">
            <div class="text-center">
                <div ><img src="~/logo.png" style="max-height:60px" alt="Logo Avans Green" /></div>
                <h1 class="align-self-center mx-3">Welcome to Avans Green!</h1>
                <div class="intro-text">
                    <p class="m-0">Avans Green is an initiative of Avans to try and reduce food waste.</p>
                    <p>
                        Canteen employees can make packets with certain canteen products for a reduced price,
                        which a student can reserve and pickup during the given time.
                    </p>
                    <p class="my-2">Use your Avans credentials (unique number and password) to login.</p>
                </div>
            </div>
            <div class="border justify-content-center login-form" style="background-color:white">
                <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-student-tab" data-bs-toggle="tab" data-bs-target="#nav-student" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Student</button>
                        <button class="nav-link" id="nav-employee-tab" data-bs-toggle="tab" data-bs-target="#nav-employee" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Canteen Employee</button>
                    </div>
                </nav>
                <div class="tab-content p-4 pt-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab">
                        @{
                            Model.TypeOfUser = TypeOfUser.Student;
                        }
                        <partial name="_LoginForm" model="Model" />
                    </div>
                    <div class="tab-pane fade" id="nav-employee" role="tabpanel" aria-labelledby="nav-employee-tab">
                        @{
                            Model.TypeOfUser = TypeOfUser.Employee;
                        }
                        <partial name="_LoginForm" model="Model" />
                    </div>
                </div>

            </div>
        </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
